.dropdown{
    width: 100%;
    margin-bottom: 9px;
}

.dropdown_header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060 ;
    height: 47px;
    border-radius: 5px;
}

.dropdown_title{
    color: white;
    font-weight: 500;
    font-size: 24px;
    padding-left: 18.08px;
}

.dropdown_chevron-up{
    display: none;
    position: absolute;
    right: 16.08px;
    top: 16.86px;
}

.dropdown_chevron-down{
    display: flex;
    position: absolute;
    right: 16.08px;
    top: 16.86px;
}

.dropdown_paragraph{
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dropdown_text{
    color:#FF6060;
    font-size: 24px;
    text-align: left;
    padding-left: 18px;
    width: 100%;
}

@media screen and (max-width: 375px){
    .dropdown{
        margin-bottom: 20px;
    }

    .dropdown_header{
        height: 30px;
        border-radius: 5px;
    }

    .dropdown_title{
        font-size: 13px;
        padding-left: 11.51px;
    }

    .dropdown_chevron-down{
        right: 6.79px;
        top: 10.76px;
        width: 13px;
    }

    .dropdown_chevron-up{
        right: 6.79px;
        top: 10.76px;
        width: 13px;
    }

    .dropdown_text{
        font-size: 12px;
        padding-left: 11.51px;
    }
}

@media screen and (min-width: 376px) and (max-width: 1024px){
    .dropdown{
        margin-bottom: 20px;
    }

    .dropdown_header{
        height: 30px;
        border-radius: 5px;
    }

    .dropdown_title{
        font-size: 13px;
        padding-left: 11.51px;
    }

    .dropdown_chevron-down{
        right: 6.79px;
        top: 10.76px;
        width: 13px;
    }

    .dropdown_chevron-up{
        right: 6.79px;
        top: 10.76px;
        width: 13px;
    }

    .dropdown_text{
        font-size: 12px;
        padding-left: 11.51px;
    }
}