.navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 326px;
    height: 34px;
    margin: 0px;
    padding: 0px;
}

.navigation_item{
    font-size: 24px;
    line-height: 34.22px;
    font-weight: 500;
    list-style-type: none;
    color: #FF6060;
    text-decoration: underline;
    padding-left: 57px;
}

@media screen and (max-width: 375px){
    .navigation_item{
        font-size: 12px;
        padding-left: 10px;
    }

    .navigation{
        width: 140px;
        height: 34px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 376px) and (max-width: 1024px){
    .navigation_item{
        font-size: 12px;
        padding-left: 10px;
    }

    .navigation{
        width: 140px;
        height: 34px;
        text-transform: uppercase;
    }
}