.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 100px 63px 100px;
}

@media screen and (max-width: 375px){
    .header{
        margin: 20px;
    }
}

@media screen and (min-width: 376px) and (max-width: 1024px){
    .header{
        margin: 20px;
    }
}